{% extends "/base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}

    <h1>Deck</h1>
    <div class="card-content">

        {{ json }}

    </div>

{% endblock %}