{% extends "projBase.html.twig" %}

{% block title %}Highscore{% endblock %}

{% block content %}
    <h1>Highscore</h1>

    <div class="content">
        <table class="hs-table">
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Date</th>
            </tr>
            {% for entry in highScore %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.balance }}</td>
                <td>{{ entry.date.format('d/m/Y') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}