{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}

    <h1>Deck</h1>
<div class="card-content">

    {% for card in deck %}
        <img src="{{ asset('img/cards/' ~ card.imgPath ) }}" alt="{{ card.imgPath }}">
    {% endfor %}

</div>

{% endblock %}