{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="content">
    <h1>Home</h1>
    <div class="self-img">
        <img src="{{ absolute_url("img/sloth.PNG") }}" alt="sloth">
    </div>
    <p>
        Hej,
    </p>
    <p>
        Mitt namn är Jonatan Robertsson, uppväxt och bor i Ronneby. Jag har varit intresserad av datorer och teknologiska prylar sedan jag var väldigt ung. Jag gick IT-linjen på John Bauer gymnasiet i Karlshamn med inriktining programmering.
    </p>

    <p>
        Under min gymnasietid lärde jag mig en del c#, html, php och sql och mer detaljerat om unix / windows miljö. Efter studenten blev det inga vidarestudier, istället blev det att börja jobba. Intresset för programmering har alltid funnits kvar men jag har inte agerat på det förrän nu.
    </p>
    <p>
        Jag flyttade ihop med min sambo i Kalmar februrari 2020 och pandemin slog hårt och det var i stortsätt omöjligt att hitta nytt arbete. Eftersom arbete var svårt att hitta så började programmerings-intresset komma tillbaka så jag bestämde mig för att läsa upp betygen som krävdes för att komma in på detta programmet. Hösten 2020 och under våren 2021 läste jag upp betygen och nu sitter jag här, antagen på BTH och är redo att ge 110% och skaffa mig en karriär inom programmering!
    </p>
    <p>
        Mvh //Jonatan Robertsson
    </p>
</div>

{% endblock %}