{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Redovisning av kursmoment</h1>

<div>
  <!-- Redovisningstext för kmom -->
        <h2>Kmom01</h2>
        <p>
            Mina tidigare kunskaper och erfarenheter gällande objektorienterad programmering kommer direkt från tidigare kurser. Eftersom oopython var fokuserad på objektorientering så lärde jag mig konceptet och även hur man applicerar det i praktiken. Jag tycker inte det är speciellt märkligt att arbeta objektorienterad däremot kan jag tycka att vissa delar inom objektorientering är lite förvirrande som t.ex. när man ska göra klassdiagram och sätta pilar för komposition, kardinalitet m.m. 
        </p>
        <p>
            Det första jag tänker på när jag ser objektorienterad programmering är klasser och objekt. För att kunna programmera objektorienterat så behöver man veta vad de olika delarna är. Jag ser klassen som en "ritning" för objektet. I klassen defineras olika "properties" och när man gör en instans av klassen så kan varje instans istället ha olika värden. När det gäller PHPs modell för klasser och objekt så kan jag inte se någon större skillnad i strukturen från t.ex. python. Strukturen är mer eller mindre likadan förutom att syntaxen är annorlunda.
        </p>
        <p>
            Jag har kikat runt på koden och dess struktur och tycker det är ganska lätt att förstå. Hur man skapar routes och olika sidor är väldigt likt ramverk som vi tidigare använt, t.ex. flask och express. Eftersom det är väldigt likt i sättet hur man bygger hemsidorna så får jag en direkt uppfattning om hur jag ska strukturera upp min sida.
        </p>
        <p>
            Det första positiva jag såg i artikeln "PHP The Right Way" är att den håller sig uppdaterad om vad som är "best practices at the present time". Så om man skulle behöva söka fram information så kan det bli fel om man använder utdaterade metoder för att lösa sitt problem därav är det väldigt positivt att artikeln håller sig uppdaterad. Utöver detta så har jag kollat igenom artikeln och det finns guider om hur man installerar vissa verktyg och även bra förklaringar till dem.
        </p>
        <p>
            Min TIL för detta kursmoment är hur man sätter upp en sida med hjälp av ramverket symfony. Förkunskaper och tidigare erfarenheter gjorde att det blev enkelt att förstå strukturen och man kunde enkelt skapa routes till andra sidor.
        </p>

    <!-- Redovisningstext för kmom -->
        <h2>Kmom02</h2>
        <p>
            Redovisningstext för kmom
        </p>

    <!-- Redovisningstext för kmom -->
        <h2>Kmom03</h2>
        <p>
            Redovisningstext för kmom
        </p>

    <!-- Redovisningstext för kmom -->
        <h2>Kmom04</h2>
        <p>
            Redovisningstext för kmom
        </p>

    <!-- Redovisningstext för kmom -->
        <h2>Kmom05</h2>
        <p>
            Redovisningstext för kmom
        </p>

    <!-- Redovisningstext för kmom -->
        <h2>Kmom06</h2>
        <p>
            Redovisningstext för kmom
        </p>

    <!-- Redovisningstext för kmom -->
        <h2>Kmom07 - Kmom10</h2>
        <p>
            Redovisningstext för kmom
        </p>
</div>

{% endblock %}